name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v4
        with:
          php-version: '8.2'
      - name: Install dependencies
        run: |
          composer install --no-progress --no-suggest --prefer-dist
      - name: Run phpunit
        run: |
          ./vendor/bin/phpunit --colors=never --no-interaction || true
      - name: Run PHPStan
        run: |
          ./vendor/bin/phpstan analyse --configuration=phpstan.neon --no-progress || true
      - name: Run PHP-CS-Fixer (check)
        run: |
          ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.dist.php --dry-run --using-cache=no --diff || true
